.loader {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100000;
    background-color: #61f179;
    color: #194650;
    width: 100vw;
    height: 100vh;
    font-size: 20px;
}