.access-form {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width: 400px;
    width: 80%;
    background-color: #212121;
    padding: 20px;
    padding-bottom: 50px;
    border-radius: 16px;
    box-shadow: 0 0 10px 2px #21212121;
    min-height: 500px;
    color: white;
    gap: 20px;
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    padding: 20px;
    scrollbar-width:none;
    &::-webkit-scrollbar-button {
        display: none;
        background-color: transparent;
    }
    &__title {
        text-align: center;
        font-size: 30px;
    }
    &__description {
        font-size: 14px;
    }
    &__field {
        display: flex;
        flex-direction: column;
        gap: 10px;
        &-label {
            font-size: 14px;
            font-weight: bold;
        }
        &-error {
            font-size: 12px;
            color: rgb(255, 65, 65); 
        }
        &-link {
            text-align: right;
        }
        &-input {
        color: #000!important;

        }
    }
    &__button {
        display: block;
        width: min-content;
        margin: 0 auto;
        padding: 10px;
        border-radius: 8px;
    }
    &__redirect {
        // position: absolute;
        bottom: 20px;
        left: 50%;
        // transform: translateX(-50%);
        display: flex;
        justify-content: center;
        font-size: 12px;
        gap: .5ch;
    }
}