.toggle {
    display: flex;
    border-radius: 16px;
    background: #d9d9d9;
    margin: 0 auto;
    overflow: hidden;
    &__button {
        padding: 20px;
        width: 50%;
        height: 100%;
        display: block;
        &:hover {
            background: #a4a4a4;
        }
        &.active {
            background-color: #33aa55;
            color: white;
        }
    }
}